body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    background: linear-gradient(
        #e06a9c 0%,
        #b94f79 10%,
        #5a243a 20%,
        #0e0006 40%,
        #000000 100%
    );
    background-attachment: fixed;
}

/* ancho general */
.ancho{
    max-width: 1380px;
    margin: auto;
}

/* header */

header{
    background-color: black;
}

.margin{
    padding:15px;
}

.header .ancho{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedoricono{
    display: flex;
    align-items: center;
    gap:10px;
}

.contenedoricono i{
    font-size: 40px;
    color: white;
}

.contenedoricono span{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.contenedormenu ul{
    list-style: none;
    display: flex;
    gap: 55px;
    margin: 0;
    padding: 0;
}

.contenedormenu li{
    color:white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* SECCION PRINCIPAL */

.contenedores{
    padding: 80px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.textoprincipal{
    color: white;
}

.contenedores h1{
    font-size: 55px;
    line-height: 50px;
}

.primerparrafo{
    font-size: 20px;
}

.textoprincipal span{
    margin-top: 30px;
    display: flex;
    gap:10px;
    background-color: #2E2E2E;
    width: 280px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.textoprincipal i{
    color: blue;
}

/* BOTONES PRINCIPALES */

.botones-principales{
    margin-top: 50px;
    display: flex;
    gap:20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.btnrosa{
    border:none;
    background-color: #b94f79;
    width: 270px;
    height: 60px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.btnnegro{
    background-color: #000;
    color: white;
    font-weight: bold;
    width: 270px;
    height: 60px;
    border-radius: 40px;
    border: 0.5px rgb(183, 176, 176) solid;
    font-size: 20px;
}

.pbonito{
    margin-top: 20px;
    font-size: 15px;
    color: white;
    max-width: 600px;
}

/* imagen principal */

.imagen img{
    width: 500px;
}

/* TEXTO NOTA */

.TextoNota{
    color:white;
    text-align: center;
    margin-top: 150px;
}

.TextoNota h2{
    font-size: 50px;
}

.TextoNota h3{
    font-size: 30px;
    font-weight: normal;
}

/* GRID */

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 600px;
    margin:100px auto;
    color:white;
}

.encabezado-col{
    padding: 12px;
    font-weight: bold;
}

.separador{
    grid-column: 1 / -1;
    border-top: 1px solid #444;
}

.celda{
    padding: 16px;
    border-bottom: 1px solid #2a2a2a;
}

.centro{
    display:flex;
    justify-content:center;
}

/* NUEVO TEXTO */

.nuevotexto{
    color: white;
    text-align: center;
}

.nuevotexto h2{
    font-size: 46px;
}

.nuevotexto p{
    font-size: 20px;
}

.contenedoriconos{
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 60px;
}

/* PLANES */

.contenedorPrincipal{
    color: white;
    display: flex;
    justify-content: center;
    gap:70px;
    margin-top: 70px;
}

.contenedorLista ul{
    list-style: none;
    font-weight: bold;
}

/* CONTENEDORES GRANDES */

.Contenedores-grandes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    margin-top: 50px;
    background-color: #0A0909;
    padding:40px;
}

.primer-contenedor,
.segundo-contenedor,
.tercero-contenedor,
.cuarto-contenedor{
    width: 425px;
    height: 700px;
    border-radius: 15px;
    background-color: #211F1F;
    padding:20px;
    color:white;
}

/* BOTONES TARJETAS */

.botones-tarjetas{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 20px;
}

.botones-tarjetas button{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
}

.btn-oscuro{
    color:white;
    background-color: #2a2a2a;
}

.btn-rosa{ background:pink; }
.btn-morado{ background:plum; }
.btn-amarillo{ background:#FCD528; }
.btn-azull{ background:#8EB9F5; }

/* BENTO */

.bento{
    width:1200px;
    margin:auto;
    display:grid;
    margin-top: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:150px;
    gap:20px;
}

.item{
    border-radius:20px;
}

.item img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:20px;
}

.item1{ grid-column: span 2; grid-row: span 2; }
.item2{ grid-column: span 2; grid-row: span 2; }
.item3{ grid-row: span 2; }
.item4{ grid-column: span 2; grid-row: span 2; }
.item7{ grid-column: span 2; }
.item8{ grid-column: span 2; }

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    margin-top:150px;
    padding-top: 50px;
    gap:100px;
    background-color: #090909;
    height: 200px;
}
.logofooter{
    font-size: 50px;
}
.compañia ul{
    list-style: none;
}
.compañia span{
    color: rgb(165, 163, 164);
    font-size: 20px;
}
.comunidades ul{
    list-style: none;
}
.comunidades span{
    color: rgb(165, 163, 164);
    font-size: 20px;
}
.enlaces-utiles ul{
    list-style: none;
}
.enlaces-utiles span{
    color: rgb(165, 163, 164);
    font-size: 20px;
}

.planes-spotify ul{
    list-style: none;
}
.planes-spotify span{
    color: rgb(165, 163, 164);
    font-size: 20px;
}
.logos{
    display: flex;
    gap:20px;
    height: 50px;
    font-size: 30px;
}